{% extends "pages/layout.html" %} {% block title %} Thể Loại {% endblock %} {%block libraryCSS %}
{% endblock %} {%block content %}
<div class="col-9 my-3" >
    <h2>Chi tiết Hóa Đơn</h2>
    <table class="table my-3">
        <thead>
          <tr>
            <th>MaHD</th>
            <th>SoLuong</th>
            <th>ThanhTien</th>
            <th>MaSP</th>
            <th>MaHD</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in DM_XemCT_HD %}
            <tr>
            <td>{{ item.MaHD }}</td>
            <td>{{ item.SoLuong }}</td>
            <td>{{ item.ThanhTien }}</td>
            <td>{{ item.MaSP }}</td>
            <td>{{ item.MaHD }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}